:root{
    --red: #ff3829;
    --green: #4caf50;
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: var(--theme-color);
    background-color: var(--theme-background-color);
}

button{
    background-color: var(--theme-background-color);
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    padding: 3px;
}

button:hover{
    cursor: pointer;
}

.user-info{
    text-align: center;
    margin: 5px auto;
}

.tabs{
    width: 100%;
}

.tab{
    display: none;
    padding: 20px;
    text-align: center;
}

.tab.active{
    display: block;
}

.tab-header{
    padding: 5px;
}

.tab-item{
    margin: 5px;
}

.upgrade>*{
    padding: 5px;
}

.do-money{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.notifications{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    list-style: none;
}

@keyframes notifCreate{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0);
    }
}

.notification{
    animation-name: notifCreate;
    animation-duration: .4s;
    animation-iteration-count: 1;
    margin: 5px;
    background-color: var(--green);
    color: white;
    padding: 5px;
    transition: 1s opacity;
}

.tab-buttons{
    display: flex;
    justify-content: space-around;
}

.tab-button{
    border: none;
    padding: 5px;
}

.tab-button.active{
    border-bottom: 1px solid var(--theme-color);
}

.achievement{
    padding: 5px;
}

.achievement.active{
    background-color: var(--green);
    color: white;
}

#hardResetBtn{
    border: 1px solid var(--theme-color);
    background-color: var(--red);
    padding: 3px;
}